# Enabling tracing
CREWAI_TRACING_ENABLED=true
# Chat deployment
AZURE_OPENAI_ENDPOINT=<see admin>
AZURE_OPENAI_DEPLOYMENT=<see admin>
AZURE_OPENAI_API_VERSION=<see admin>
AZURE_OPENAI_API_KEY=<see admin>
AZURE_API_KEY=<see admin>
# Embedding
AZURE_OPENAI_EMBED_DEPLOYMENT=<see admin>
AZURE_OPENAI_EMBED_API_VERSION=<see admin>
